body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    width: 100%;
}

.title-text {
    margin-bottom: 50px;
}

.title-text h1 {
    font-size: 50px;
    margin-left: 80px;
}

.title-text p {
    color: #6C727F;
    font-size: 20px;
}




.form {
    width: 100%;
    background: white;
    padding: 20px 30px 0px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    margin-right: 400px;
}

#newsletter-form {
    width: 100%;
    padding-bottom: 70px;

}

.form {
    margin-right: 45px;
}

input[type=email] {
    width: 100%;
    padding: 15px 100px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #F9FAFB;
}

input::placeholder {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

button {
    background-color: #3662E3;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.form p {
    color: #6C727F;
}